body {
    background-color: #00E699;
}

p {
    font-size: x-large;
    font-family: courier;
    font-weight: bold;
    color: #00A099;
}

h1 {
    font-size: xx-large;
    font-family: serif;
    color: #990096;
}

.link {
    font-size: larger;
    color: #6E0099;
}

div {
    font-size: x-large;
    font-family: freemono,monospace;
    color: #6E0099;
    
}

.ui-button-text {
    font-size: large;
    font-family: freemono,monospace;
    color: #ffffff;
    background-color: #6E0099;
}

.btn {
    font-size: large;
    font-family: freemono,monospace;
    color: #ffffff;
    background-color: #6E0099;
}

table {
    font-size: large;
    font-family: georgia, serif;
    text-align: center;
    border: #990096;
}

td {
    font-size: larger;
    font-family: courier;
    font-weight: bolder; 
    color: #990096;
    background-color: #0099FA;
}

.header {
    font-size: large;
    font-family: georgia, serif;
    text-align: center;
    color: black;
}